@using Microsoft.AspNetCore.Identity
@using TaskManager.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - TaskIt</title>

        <link href="~/assets/img/favicon.ico" rel="icon" type="image/x-icon">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Abel&family=Oswald:wght@200;300;400;500;600;700&family=Quicksand:wght@300;400&family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,700&display=swap" rel="stylesheet">

        <link href="~/assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/TaskManager.styles.css" asp-append-version="true" />
    </head>

    <body>
        <partial name="_NavbarPartial" />
        <div class="container-lg">
            <main role="main" class="content mb-5">
                @RenderBody()
            </main>
        </div>
        <footer class="mt-3 border-top footer text-muted text-center text-small">
            <p class="mb-1 pt-2">©2022 TaskIt</p>
        </footer>

        <script type="text/javascript" src="~/assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="~/assets/js/popper.min.js"></script>
        <script type="text/javascript" src="~/assets/js/bootstrap.js"></script>
        <script type="text/javascript" src="~/assets/js/theme.js"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
