@{ ViewData["Title"] = "404 Error | TaskIt"; }

<div class="container">
    <img class="error-image" src="~/images/error-2.svg" alt="404error" />
    <h1 class="text-center mt-4">We couldn't find that page.</h1>
    <p class="text-center mt-3">Looks like we couldn't find that page. Please try again or contact an administrator if the problem persists.</p>
    <div class="btn-container">
        <button class="btn btn-main mt-4">
             <a asp-controller="Home" asp-action="Index">Home</a>
        </button>
    </div>
</div>