@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="container-fluid p-5 center-vert">
    <h1 class="mb-4" style="text-align:center">You don't have permission to access this page.</h1>
    <h3 class="mb-3" style="text-align:center">Check your login credentials or try something else.</h3>
    <p style="text-align:center">Please contact an administrator if you feel this is an error.</p>
</div>
