@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row pb-5">
    <div class="col-md-4 login-container">
        <section>
            <h1 class="mb-4" style="font-weight: 700 !important;">@ViewData["Title"]</h1>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mb-2">
                    <label asp-for="Input.Email" class="form-label"></label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-4">
                    <label asp-for="Input.Password" class="form-label"></label>
                    <input asp-for="Input.Password" class="form-control" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox pl-3 mb-4">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <p><a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a></p>
                    <p><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a></p>
                    <p><a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a></p>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-submit mb-4 mt-5">Submit</button>
                </div>
            </form>



        </section>
    </div>

    <div class="col-md-8 col-md-offset-2 pt-3 pl-3 pr-3 center-vert">
        <section>
            <h2 class="login--demo-header">
                Use the following demo accounts to test roles
            </h2>


            <div class="container">

                <div class="row mb-4">

                    <div class="col-8">
                        <p><strong>Admin permissions</strong></p>
                        <ul>
                            <li>Full CRUD capabilities on all models</li>
                            <li>View all projects and tasks for all managers and users</li>
                            <li>Assign managers to projects</li>
                            <li>Assign users from projects</li>
                            <li>Assign tasks to users</li>
                            <li>Manage roles to users</li>
                            <li>Access the database of all users</li>
                            <li>Edit and delete users</li>
                        </ul>
                    </div>

                    <div class="col-4 center-vert">
                        <a asp-controller="User" asp-action="Demo" asp-route-userRole="admin"
                           class="btn btn-demo d-flex align-items-center w-80">
                            Log in as Admin [DEMO]
                        </a>
                    </div>

                </div>

                <div class="row mb-4">
                    <div class="col-8 pr-3">
                        <p style="font-weight: 700;">Manager permissions</p>
                        <ul>
                            <li>Create new projects</li>
                            <li>Update projects that you manage</li>
                            <li>Assign users to projects that you manage</li>
                            <li>Assign tasks to users for projects that you manage</li>
                            <li>View all projects or projects that you manage</li>
                            <li>View unassigned, open, submitted, and closed tasks for projects that you manage</li>
                            <li>Edit and delete notes by users on tasks and projects that you manage</li>
                        </ul>
                    </div>
                    <div class="col-4 center-vert">
                        <a asp-controller="User" asp-action="Demo" asp-route-userRole="manager"
                           class="btn btn-demo text-center d-flex align-items-center w-80">
                            Log in as Manager [DEMO]
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-8 pr-3">
                        <p style="font-weight: 700;">User permissions</p>
                        <ul>
                            <li>View assigned projects</li>
                            <li>View assigned tasks</li>
                            <li>Create and edit notes on assigned projects and tasks</li>
                            <li>Upload files to assigned projects and tasks</li>
                        </ul>
                    </div>
                    <div class="col-4 center-vert">
                        <a asp-controller="User" asp-action="Demo" asp-route-userRole="user"
                           class="btn btn-demo w-80 d-flex align-items-center">
                            Log in as User [DEMO]
                        </a>
                    </div>

                </div>



            </div>

        </section>
    </div>

</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
