@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="homepage--header">
        <h1 class="homepage-title">TaskIt</h1>
        <p class="header-subtitle pl-2">Manage your projects and tasks.</p>
    </div>

    <div class="row homepage-row">
        @******  WELCOME & WORKLOAD  ******@
        <div class="col-12 col-md-4 col-xxl-4 homepage-col d-flex order-1 order-xxl-1 mb-2">
            <div class="card flex-fill">
                <div class="card-header homepage-card-header-dark">
                    <div class="card-title homepage-welcome mb-0">Welcome back, Matt.</div>
                </div>
                <div class="card-body homepage-card-body p-1">
                    <div class="assignments">
                        <div class="assignment-item">
                            <div class="assignment-item-header">
                                Your workload
                            </div>
                        </div>
                        <div class="assignment-item">
                            <div class="assignment-item-name">
                                Projects
                            </div>
                            <div class="assignment-item-value">
                                <a href="/projects"><strong>3</strong></a>
                            </div>
                        </div>
                        <div class="assignment-item">
                            <div class="assignment-item-name">
                                Tickets
                            </div>
                            <div class="assignment-item-value">
                                <a href="/tickets"><strong>8</strong></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*****  GOALS  *****@
        <div class="col-12 col-md-4 col-xxl-4 homepage-col d-flex order-2 order-xxl-2 mb-2">
            <div class="card flex-fill">
                <div class="card-header pb-1">
                    <span class="homepage-card-title assignment-item-header">Goals</span>
                        <svg class="float-end" viewBox="17 20 170 170" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                            <linearGradient gradientUnits="userSpaceOnUse" id="a" x1="34.931" x2="168.523" y1="168.884" y2="35.292">
                                <stop offset="0" stop-color="#182542" class="stop-color-12c2e9"></stop>
                                <stop offset=".475" stop-color="#212375" class="stop-color-c471ed"></stop>
                                <stop offset="1" stop-color="#5381bd" class="stop-color-f64f59"></stop>
                            </linearGradient>
                            <path d="M171.61 38.65h-6.899v-4.135a3.5 3.5 0 1 0-7 0v4.135h-13.403v-4.135a3.5 3.5 0 1 0-7 0v4.135h-13.404v-4.135a3.5 3.5 0 1 0-7 0v4.135H103.5v-4.135a3.5 3.5 0 1 0-7 0v4.135H83.096v-4.135a3.5 3.5 0 1 0-7 0v4.135H62.693v-4.135a3.5 3.5 0 1 0-7 0v4.135H42.289v-4.135a3.5 3.5 0 1 0-7 0v4.135H28.39c-6.551 0-11.88 5.325-11.88 11.87v106.59c0 6.545 5.33 11.87 11.88 11.87h143.22c6.551 0 11.88-5.325 11.88-11.87V50.52c0-6.545-5.329-11.87-11.88-11.87zM55.11 157.171 28.604 131.29H50.41c2.591 0 4.7 2.108 4.7 4.7v21.181zm-31.6-.061v-21.011l26.506 25.881H28.39a4.88 4.88 0 0 1-4.88-4.87zm152.98 0a4.88 4.88 0 0 1-4.88 4.87H62.11v-25.99c0-6.451-5.249-11.7-11.7-11.7h-26.9V50.52a4.88 4.88 0 0 1 4.88-4.87h6.899v4.13a3.5 3.5 0 1 0 7 0v-4.13h13.404v4.13a3.5 3.5 0 1 0 7 0v-4.13h13.403v4.13a3.5 3.5 0 1 0 7 0v-4.13H96.5v4.13a3.5 3.5 0 1 0 7 0v-4.13h13.403v4.13a3.5 3.5 0 1 0 7 0v-4.13h13.404v4.13a3.5 3.5 0 1 0 7 0v-4.13h13.403v4.13a3.5 3.5 0 1 0 7 0v-4.13h6.899c2.69 0 4.88 2.185 4.88 4.87v106.59z" fill="url(#a)" class="fillurl(-a)"></path><linearGradient gradientUnits="userSpaceOnUse" id="b" x1="41.099" x2="174.691" y1="175.053" y2="41.46">
                                <stop offset="0" stop-color="#182542" class="stop-color-12c2e9"></stop>
                                <stop offset=".475" stop-color="#212375" class="stop-color-c471ed"></stop>
                                <stop offset="1" stop-color="#5381bd" class="stop-color-f64f59"></stop>
                            </linearGradient>
                            <path d="M101.34 85.013a3.5 3.5 0 0 0-3.815.758l-7.341 7.341a3.5 3.5 0 1 0 4.95 4.95l1.366-1.366v47.362a3.5 3.5 0 1 0 7 0V88.246a3.5 3.5 0 0 0-2.16-3.233z" fill="url(#b)" class="fillurl(-b)"></path>
                            <linearGradient gradientUnits="userSpaceOnUse" id="c" x1="-13.416" x2="120.177" y1="120.538" y2="-13.055">
                                <stop offset="0" stop-color="#182542" class="stop-color-12c2e9"></stop>
                                <stop offset=".475" stop-color="#212375" class="stop-color-c471ed"></stop>
                                <stop offset="1" stop-color="#5381bd" class="stop-color-f64f59"></stop>
                            </linearGradient>
                            <path d="M42.39 65.513h-8.562a3.5 3.5 0 1 0 0 7h8.562a3.5 3.5 0 1 0 0-7z" fill="url(#c)" class="fillurl(-c)"></path>
                            <linearGradient gradientUnits="userSpaceOnUse" id="d" x1="-3.164" x2="130.429" y1="130.79" y2="-2.803">
                                <stop offset="0" stop-color="#182542" class="stop-color-12c2e9"></stop>
                                <stop offset=".475" stop-color="#212375" class="stop-color-c471ed"></stop>
                                <stop offset="1" stop-color="#5381bd" class="stop-color-f64f59"></stop>
                            </linearGradient>
                            <path d="M62.893 65.513h-8.562a3.5 3.5 0 1 0 0 7h8.562a3.5 3.5 0 1 0 0-7z" fill="url(#d)" class="fillurl(-d)"></path>
                            <linearGradient gradientUnits="userSpaceOnUse" id="e" x1="7.088" x2="140.68" y1="141.041" y2="7.448">
                            <stop offset="0" stop-color="#182542" class="stop-color-12c2e9"></stop>
                            <stop offset=".475" stop-color="#212375" class="stop-color-c471ed"></stop>
                            <stop offset="1" stop-color="#5381bd" class="stop-color-f64f59"></stop>
                                    </linearGradient>
                            <path d="M83.396 65.513h-8.562a3.5 3.5 0 1 0 0 7h8.562a3.5 3.5 0 1 0 0-7z" fill="url(#e)" class="fillurl(-e)"></path>
                            <linearGradient gradientUnits="userSpaceOnUse" id="f" x1="17.339" x2="150.931" y1="151.292" y2="17.7">
                            <stop offset="0" stop-color="#182542" class="stop-color-12c2e9"></stop>
                            <stop offset=".475" stop-color="#212375" class="stop-color-c471ed"></stop>
                            <stop offset="1" stop-color="#5381bd" class="stop-color-f64f59"></stop>
                                    </linearGradient>
                            <path d="M103.899 65.513h-8.562a3.5 3.5 0 1 0 0 7h8.562a3.5 3.5 0 1 0 0-7z" fill="url(#f)" class="fillurl(-f)"></path>
                            <linearGradient gradientUnits="userSpaceOnUse" id="g" x1="27.591" x2="161.183" y1="161.544" y2="27.952">
                            <stop offset="0" stop-color="#182542" class="stop-color-12c2e9"></stop>
                            <stop offset=".475" stop-color="#212375" class="stop-color-c471ed"></stop>
                            <stop offset="1" stop-color="#5381bd" class="stop-color-f64f59"></stop>
                                    </linearGradient><path d="M124.402 65.513h-8.562a3.5 3.5 0 1 0 0 7h8.562a3.5 3.5 0 1 0 0-7z" fill="url(#g)" class="fillurl(-g)"></path>
                            <linearGradient gradientUnits="userSpaceOnUse" id="h" x1="37.842" x2="171.435" y1="171.796" y2="38.203">
                            <stop offset="0" stop-color="#182542" class="stop-color-12c2e9"></stop>
                            <stop offset=".475" stop-color="#212375" class="stop-color-c471ed"></stop>
                            <stop offset="1" stop-color="#5381bd" class="stop-color-f64f59"></stop>
                                    </linearGradient><path d="M144.905 65.513h-8.562a3.5 3.5 0 1 0 0 7h8.562a3.5 3.5 0 1 0 0-7z" fill="url(#h)" class="fillurl(-h)"></path>
                            <linearGradient gradientUnits="userSpaceOnUse" id="i" x1="48.094" x2="181.686" y1="182.047" y2="48.455">
                            <stop offset="0" stop-color="#182542" class="stop-color-12c2e9"></stop>
                            <stop offset=".475" stop-color="#212375" class="stop-color-c471ed"></stop>
                            <stop offset="1" stop-color="#5381bd" class="stop-color-f64f59"></stop>
                                    </linearGradient>
                            <path d="M165.408 65.513h-8.562a3.5 3.5 0 1 0 0 7h8.562a3.5 3.5 0 1 0 0-7z" fill="url(#i)" class="fillurl(-i)"></path>
                        </svg>
                </div>
                <div class="card-body pl-1 pr-1 pt-0 pb-0">
                    <div class="assignments">
                        <div class="assignment-item">
                            <div class="assignment-item-name">
                                <a href="#">Ticket A</a>
                            </div>
                            <div class="assignment-item-value">
                                6/1/22
                            </div>
                        </div>
                        <div class="assignment-item">
                            <div class="assignment-item-name">
                                <a href="#">Project B</a>
                            </div>
                            <div class="assignment-item-value">
                                6/11/22
                            </div>
                        </div>
                        <div class="assignment-item">
                            <div class="assignment-item-name">
                                <a href="#">Ticket C</a>
                            </div>
                            <div class="assignment-item-value">
                                6/14/22
                            </div>
                        </div>
                        <div class="assignment-item">
                            <div class="assignment-item-name">
                                <a href="#">Ticket D</a>
                            </div>
                            <div class="assignment-item-value">
                                7/1/22
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @******  PRODUCTIVITY ******@
        <div class="col-12 col-md-4 col-xxl-4 homepage-col d-flex order-3 order-xxl-3 mb-2">
            <div class="card flex-fill">
                <div class="card-header pb-1">
                    <span class="assignment-item-header">Productivity</span>
                    <svg class="float-end" viewBox="0 0 555 555" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                        <linearGradient gradientUnits="userSpaceOnUse" id="a" x1="256" x2="256" y1="512" y2="0">
                            <stop offset="0" stop-color="#000000" class="stop-color-514a9d stop-color-050b36"></stop>
                            <stop offset="1" stop-color="#5381bd" class="stop-color-24c6dc stop-color-9fc0eb"></stop>
                        </linearGradient>
                        <circle cx="256" cy="256" fill="url(#a)" r="256" class="fillurl(-a)"></circle>
                        <g fill="#FFFFFF" class="fill-ffffff">
                            <path d="M256 124c-72.8 0-132 59.2-132 132s59.2 132 132 132 132-59.2 132-132-59.2-132-132-132zm0 253.6c-67.1 0-121.6-54.6-121.6-121.6S188.9 134.4 256 134.4 377.6 188.9 377.6 256 323.1 377.6 256 377.6z"></path>
                            <path d="M259.5 252.8v-69.6c0-2.9-2.3-5.2-5.2-5.2-2.9 0-5.2 2.3-5.2 5.2V255c0 .7.1 1.4.4 2 .3.6.6 1.2 1.1 1.7L313 321c1 1 2.3 1.5 3.7 1.5 1.3 0 2.7-.5 3.7-1.5 2-2 2-5.3 0-7.4l-60.9-60.8z"></path>
                        </g>
                     </svg>
                </div>
                <div class="p-3" style="text-align: center !important;">
                    <div class="col-md-12 center-vert">
                        <div class="">You have</div>
                        <div class="text-large pt-2 pb-2"><a href="/Tickets/Closed">11 closed tickets</a></div>
                        <div class="">with an average</div>
                        <div class="pb-1">completion time of</div>
                        <div class="text-large pt-2">11.2 hours</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @******  ROW 2: GRAPHS  ******@
    <div class="row homepage-row">
        <div class="col-12 col-md-6" style="min-height: 300px;">
            <div class="card flex-fill">
                <div class="card-header pb-1">
                    <span class="assignment-item-header">Tickets by Priority</span>
                </div>
                <div class="card-body pt-0 pb-0">
                    <h1 class="mt-5 mb-5">GRAPHS GO HERE</h1>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card flex-fill">
                <div class="card-header pb-1">
                    <span class="assignment-item-header">Tickets by Type</span>
                </div>
                <div class="card-body pt-0 pb-0">
                    <h1 class="mt-5 mb-5">GRAPHS GO HERE</h1>
                </div>
            </div>
        </div>
    </div>

</div>

