.homepage-main {
    min-width: 75% !important;
}

.homepage--header {
    position: relative;
    margin-bottom: 3.3rem;
}

.homepage-brand {
    margin-bottom: -7px !important;
}

.brand-task-lg {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 4.7rem;
    letter-spacing: 2.0px !important;
    font-weight: 300 !important;
}

.brand-it-lg {
    font-family: 'Quicksand', sans-serif;
    font-size: 4.9rem;
    font-weight: 400 !important;
    margin-left: -7px;
    letter-spacing: 3.0px;
}

.brand-subtitle {
    margin-top: -7px;
}

.homepage-welcome {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.3px;
    font-size: 1.65rem;
    font-weight: 300;
    color: #F5F5F5;
    text-shadow: 2px 2px 5px rgba(254,252,224,0.2);
    padding-right: 2.0rem;
}

.homepage-row {
    min-height: 20vh;
}

.homepage-col {
    min-height: 16vh;
    padding-left: 18px !important;
    padding-right: 18px !important;
}

/*****************************************************************/
/*                          CARDS                                */
/*****************************************************************/
.card {
    box-shadow: 0px 2px 6px rgba(78, 78, 78, 0.2) !important;
}

.card-header {
    /*background: #FFFEEF;*/
    background: #eeeeee;
}

.homepage-card-header-dark {
    background: linear-gradient(135deg, #273340 60%, #404975) !important;
}

.homepage-card-body {
    font-weight: 300;
}

.homepage-assignments {
    font-size: 1.0rem;
    font-weight: 500;
    color: #313131;
    padding-bottom: 0.8rem;
}

    .homepage-assignments a {
        text-decoration: underline;
    }

.card-header-light {
    background-color: #FFFEEF !important;
}

.card-title-light {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.15px;
    font-size: 2.2rem;
    font-weight: 300;
}

.float-end {
    float: right !important;
}

.main-content {
    padding: 45px 0;
}

.assignments {
    background-color: #FFF;
}

.assignment-item {
    padding: 12px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
}

.assignment-item-name {
    flex: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1;
}

.assignment-item-name-workload {
    font-size: 1.4rem !important;
}

.assignment-item-value {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
    .assignment-item-value a {
        font-weight: 600;
    }

.assignment-item-value-workload a {
    font-size: 1.4rem !important;
    font-weight: 200 !important;
}

.assignment-item-btn {
    padding: 0.0rem 0.7rem !important;
    color: var(--offwhite) !important;
    border-radius: 100%;
    border: none !important;
    z-index: 9;
    position: relative;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
    background: linear-gradient(45deg, var(--navbar-blue-l) 4%, var(--btn-blue-gradient-r)) !important;
    transition: all 1.3s ease-in-out;
}

.btn-helper {
    position: absolute;
    z-index: -1;
    border-radius: 100%;
    border: none !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: linear-gradient(45deg, var(--navbar-blue-l), #223e9b) !important;
    transition: opacity 1s linear;
}

.assignment-item-btn:hover .btn-helper {
    opacity: 0.5;
    color: #e8e8e8 !important;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.assignment-item-header {
    flex: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    font-size: 1.6rem !important;
    font-weight: 500;
    color: var(--darkgrey);
    letter-spacing: 1.6px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.text-medium {
    font-size: 1.25rem !important;
    font-weight: 400 !important;
}

.text-large {
    font-size: 1.6rem !important;
    font-weight: 500 !important;
    color: var(--darkgrey);
}


.bg-circle-light {
    background-color: #4a6b96 !important;
    border-radius: 10rem;
    height: 70px;
    width: 70px;
}

    .bg-circle-light a {
        color: #fff;
    }

/*****************************************************************/
/*                         GRAPHS                                */
/*****************************************************************/
.graph-card {
    /*min-height: 400px;*/
}

.group-data {
    background-color: #FFF;
}

.group-item {
    padding-top: 10px;
    padding-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 0;
}

.group-item-key {
    flex: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1;
}

.group-item-value {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}


/*****************************************************************/
/*                        MEDIA QUERIES                          */
/*****************************************************************/
@media (max-width: 800px) {
    .card-header {
        padding-right: 0.9rem;
        padding-left: 0.9rem;
    }
}

@media (max-width: 767px) {
    .card-header {
        padding-right: 1.3rem;
        padding-left: 1.3rem;
    }

    svg {
        max-height: 40px !important;
    }
}

@media (max-width: 339px) {
    .homepage-welcome {
        font-size: 1.3rem;
    }
}

@media (max-width: 300px) {
    .homepage-welcome {
        font-size: 1.15rem;
    }
}

@media (max-width: 260px) {
    .card-header {
        padding-right: 0.6rem;
        padding-left: 0.6rem;
    }
}

@media (max-width: 928px) {
    .create--container {
        width: 85%;
    }
}

@media (max-width: 768px) {
    .create--container {
        width: 90%;
    }
}

/*font-family: 'Fjalla One', sans-serif;*/





