html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
    line-height: 1.3;
}

a {
    color: #4a6b96;
}
    a:hover {
        color: #082951;
    }

.container-body {
    margin-top: 45px;
    /*height: 100vh;*/
    margin-bottom: 175px;
}

.center-vert {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-text {
    font-size: 3.2em;
    font-weight: 600;
    color: black;
}

.header-text-details {
    font-size: 2.4em;
    font-weight: 700;
    color: #282828;
    line-height: 1.1;
}

.header-img {
    height: auto;
    max-width: 80px;
}

.search-field {
    border-radius: 17px;
    padding-left: 3px;
    padding-right: 3px;
}

.description-text {
    color: #252525 !important;
    font-size: 1.0rem;
    font-weight: 200;
}

.assignment-text {
    color: black;
}

.icon-button {
    display: inline-block;
    position: relative;
}

.note-author-text {
    font-size: .92rem;
    padding-top: 4px;
}

.details-type {
    color: #212529 !important;
}

th {
    vertical-align: top !important;
}

.td-lg {
/*    white-space: nowrap;
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;*/
}

/***************************************************/
/*   PROJECTS                                      */
/***************************************************/
.projects--index {
    padding-top: 3%;
    padding-bottom: 5%;
}

.project-create--form {
    padding-top: 25px;
    padding-bottom: 25px;
}

.create--container {
    width: 70%;
}


.project-create--form {
    padding-top: 25px;
    padding-bottom: 25px;
}

.navbar-brand {
    font-size: 1.4em;
    padding-left: 30px;
    padding-top: 10px;
}


/***************************************************/
/*   TICKETS                                       */
/***************************************************/
.card-details {
    padding: 2em;
    border-radius: 12px;
    color: #474747;
}

.contributers-header {
    height: 75px;
    align-items: center !important;
}

.ticket-header-wrapper {
    display: flex;
    justify-content: space-between;
}

.ticket-header-text {
    font-size: 3.5em;
    font-weight: bold;
    color: #202020 !important;
}

.ticket-header-subtext {
    font-size: 1.3em;
    font-weight: bold;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.ticket-header-wrapper {
    display: flex;
    justify-content: space-between;
}

.ticket-details-page-header {
    padding-top: 1.65rem;
    padding-bottom: 1.65rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    margin-bottom: 3rem;
    background: #e9ecef;
    border-radius: 0.5rem;
}

.tickets--index {
    padding-top: 3%;
    padding-bottom: 5%;
}

.ticket-table-links {
    font-weight: 500;
    color: #424354;
    text-decoration: underline;
}

.ticket-status {
    display: flex;
    align-items: center;
}

.ticket-cancel-btn {
    margin-left: 25px;
    padding: 0;

}

/***************************************************/
/*   USERS                                         */
/***************************************************/
.user-details--header {
    padding-top: 30px;
}


/***************************************************/
/*   BUTTONS / LINKS                               */
/***************************************************/
.button-group {
    display: flex;
}

.btn-main {
    background: #4a6b96;
    color: white !important;
    font-weight: 200;
    width: 110px;
    border: none;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
    text-align: center;
}
    .btn-main:hover {
        background: #01224d;
    }
    .btn-main a {
        color: white !important;
    }

.btn-container {
    text-align: center;
}

.btn-round-med {
    width: 2.8rem;
    height: 2.8rem;
    line-height: 1.2;
    border-radius: 50%;
    padding: 0;
    background: #dee2e6;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
}
    .btn-round-med:hover {
        background: #d0d2d5;
    }

.btn-round-sm {
    width: 1.8rem;
    height: 1.8rem;
    line-height: 1.2;
    border-radius: 50%;
    padding: 0;
    background: #dee2e6;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
}
    .btn-round-sm:hover {
        background: #d0d2d5;
    }

.btn-icon {
    color: #4a6b96 !important;
    vertical-align: middle !important;
}
    .btn-icon:hover {
        color: #012f66 !important;
    }

.btn-icon-sm {
    font-size: 1.4rem !important;
}

.btn-icon-lg {
    font-size: 2.05rem !important;
}

.btn-header {
    width: 180px;
}
    .btn-header:hover {
        color: #007bff;
        background: #c5e1ff;
    }


.back-btn a {
    width: 60px;
    background-color: #dee2e6;
    border-radius: 60px;
    color: #4a6b96;
    padding: 9px;
    opacity: .75;
    font-weight: 500;
}


.back-btn:hover {
    width: 60px;
    background-color: #d0d2d5;
}

    .btn-header-text {
        color: #007bff;
    }

.account-button {
    font-size: 2rem !important;
    padding-top: 4px;
}
    .account-button:hover {
        color: #585858 !important;
        font-size: 2rem !important;
        padding-top: 4px;
    }

.name-link {
    color: #414141 !important;
    text-decoration: underline;
    padding-left: 3px;
    padding-right: 3px;
}

.btn-cstm-wide {
    width: 110px;
    border-radius: 5px;
}

.btn-cstm-link-text-light {
    color: white;
    text-decoration: none;
}
    .btn-cstm-link-text-light:hover {
        color: white;
        text-decoration: none;
    }

.btn-text {
    color: white;
    text-decoration: none;
}
    .btn-text:hover {
        color: white;
        text-decoration: none;
    }

.btn-text-dark {
    color: black;
    text-decoration: none;
}
    .btn-text-dark:hover {
        color: black;
        text-decoration: none;
    }

.btn-outline-primary-text {
    text-decoration: none;
}
    .btn-outline-primary-text:hover {
        color: white;
        text-decoration: none;
    }

.btn-outline-dark-text {
    color: black;
    text-decoration: none;
}
    .btn-outline-dark-text:hover {
        color: white;
        text-decoration: none;
    }

.btn-link {
    color: #6c757d !important;
    text-decoration: underline;
}



.btn-link-offset {
    padding-top: 5px;
}

.btn-cstm-link {
    width: 70px;
    border-radius: 5px;
}


/***************************************************/
/*   AVATARS                                       */
/***************************************************/

.navbar-avatar {
    object-fit: cover;
    width: 48px;
    height: 48px;
    margin-left: 30px;
    margin-right: 10px;
}

.profile-pic {
    width: 100%;
    object-fit: cover;
}

.details-avatar {
    width: 55px;
    height: 3.3rem !important;
    width: 3.3rem !important;
    object-fit: cover;
}
